In [1]:
import pandas as pd

def load_data():
    df = pd.read_excel('superstore_sales.xls')
    df = df[df['Category'] == 'Technology']
    df = df.groupby(['Order Date', 'Sub-Category'])['Quantity'].sum().reset_index()
    return df

data = load_data()
data.head()

  Order Date Sub-Category  Quantity
0 2014-01-06       Phones         6
1 2014-01-09  Accessories         3
2 2014-01-13  Accessories         6
3 2014-01-15  Accessories         5
4 2014-01-16       Phones         3